@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
  line-height: normal;
}

/* VARIABLES */

:root {
  --white: #ffffff;
  --offWhite: #FAFAFA;
  --purple: #452643;
  --grey: #3E424B;
  --shadows: rgba(204, 204, 204, 0.7);
  --green: #398D7C;
  --black: #000000;
  --lightBtn: rgba(217, 217, 217, 0.25);
  --darkBtn: rgba(0, 0, 0, 0.35);
}

/* GENERAL STYLES */

body {  
  background-color: var(--offWhite);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

h4 {
  font-size: 1.125rem;
  margin-bottom: 1vh;
}

a {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

button {  
  margin: 0;
  text-decoration: none;
  border: none;
  border-radius: .2rem;
  color: var(--white);
}

/* MAIN WRAPPERS */

.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outer-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* UTILS */

.gradient-footer {
  background-color: #452643; /* Fallback for older browsers */
  background-image: linear-gradient(0deg, var(--purple) 40%, var(--grey));
}

.gradient-header {
  background-color: #452643; /* Fallback for older browsers */
  background-image: linear-gradient(180deg, var(--purple) 50%, var(--grey));
}

.centered {
  display: flex;
  align-items: center;
  gap: 1vh;
}

/* BUTTONS */

.action-btn {
  height: 3vh;
  background-color: var(--lightBtn);
}

.login-btn {
  display: flex;
  align-items: center;
  gap: 1vw;
  background-color: var(--darkBtn);
  padding: 1vh 2vh;
  font-size: 0.75rem;
}

/* HEADER + NAV */

.no-js-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1vh;
  font-size: 0.875rem;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 10vh;
  gap: 3vw;
  color: var(--white)
}

.logo {
  width: 50px;
}

.links-wrapper {
  width: 100%;
  display: flex;
  gap: 1vw;
  justify-content: flex-end;
  font-size: 0.75rem;
}

.links-wrapper a {
  color: var(--white);
}

/* HERO SECTION */

.hero-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10% 0;
  position: relative;
}

.hero-img {
  width: 100%;
  height: 40vh;
  z-index: -1;
  filter: brightness(60%);
}

.hero-content {
  width: 80%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  color: #ffffff;
  gap: 1rem;
  padding: 2%;
  
}

/* CARDS */

.cards-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 10px 0px var(--shadows);
  background-color: var(--white);
  border-radius: .3rem;
  padding: 5vw;
  height: 18.75rem;
  gap: 1rem;
  justify-content: flex-start;
}

/* MID INFO */

.mid-info-wrapper {
  width: 80%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color:  var(--white);
  padding: 3%;
}

.mid-info-h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.mid-info-p {
  text-align: center;
}

.purple {
  width: 100%;
  background-color: var(--purple);
  margin: 5vh 0;
}

/* SERVICES INFO SECTION */

.services-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
  gap: 5vh;
}

.services-info-wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 5vw;
}

.services-info-content {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.services-info-img {
  width: 40%;
}

/* FOOTER */

.footer-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 4vw;
  color:  var(--white);
  margin: 3vh 0;
}

.footer-ul {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.footer-ul a {
  color: var(--white);
}

.footer-form-wrapper {
  display: flex;
  flex-direction: column;
  color:  var(--white);
}

.footer-select-wrapper select{
  width: 100%;
  height: 5vh;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  border: 1px solid var(--green);
  border-radius: .3rem;
}

.footer-select-wrapper select:after {
  border: 0;
  border-style: none;
  border-color: var(--green)
}

input[type=text] {
  height: 8vh;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  border: 1px solid var(--green);
  border-radius: .3rem;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-bottom: 3vh;
}

.footer-check-submit-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check-wrapper {
  display: flex;
  align-items: center;
  gap: 1vh;
}

.user-check-input {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
}

.copyright {
  display: flex;
  justify-content: center;
  color: var(--white);
  padding: 2vh 0;
  border-top: 2px solid var(--lightBtn);
  font-size: 0.875rem;
  background-color: var(--purple);
}


/* BREAKPOINTS */

@media (min-width: 1024px) {

  /* NAV */

  .nav-wrapper {
    height: 13vh;
  }

  .links-wrapper {
    gap: 3vw;
    justify-content: flex-end;
    font-size: 0.75rem;
  }

  .logo {
    width: 100%;
  }

  /* HERO */

  .hero-wrapper{
    padding: 5% 0;
  }

  .hero-img {
    width: 80%;
    height: auto;
  }

  .hero-content {
    width: 35%;
    left: 13%;
    bottom: 20%;
  }

  /* CARDS */

  .cards-wrapper {
    flex-direction: row;
    gap: 2vh;
  }
  
  .card {
    width: 33%;
    padding: 2.5vw;
    height: auto;
  }

  /* MID INFO */

  .mid-info-wrapper {
    width: 60%;
    height: 40vh;
  }

  .purple {
    width: 100%;
    background: #452643;
    margin: 5% 0;
  }

  /* INFO SERVICES */

  .services-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    gap: 5vw;
  }

  .services-info-wrapper {
    width: 60%;
    gap: 0;
    margin: 0;
  }

  .services-info-content {
    padding: 5%;
  }

  /* FOOTER */

  .footer-wrapper {
    flex-direction: row;
    gap: 5vw;   
  }

  .footer-links {
    width: 60%;
    flex-direction: row;
    gap: 5vw;
    padding: 5%;
    margin: 0;
  }

  .footer-form-wrapper {
    width: 50%;
    align-items: flex-end;
    padding: 5% 0;
  }

  .footer-form {
    width: 70%;
    margin: 0;
  }

  .copyright {
    justify-content: flex-end;
    padding: 2vh 10%;
    text-align: right;
  }

  /* HOVERS */

    /* GLOBAL */

    a:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
    }    

    button {
      transition-duration: 0.3s;
      cursor: pointer;
    }

    select:hover, input[type=text]:hover {
      cursor: pointer;
      background-color: var(--lightBtn);
    }

    /* BUTTONS */

    .login-btn:hover {
      background-color: var(--lightBtn);
    }

    .action-btn:hover {
      background-color: var(--darkBtn);
    }

    /* INPUTS */    

    .user-check-input {
      cursor: pointer;
    }

    /* CARDS */
    
    .card {
      transition: .1s;
    }

    .card:hover {
     transform: scale(1.01);
    }
}
